# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# MLflow
mlruns/
mlartifacts/
mlflow/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Editors
.vscode/
.idea/
